<p>input-output works!</p>
<div>
    <button type="button" (click)="dec()" title="smaller">-</button>
    <button type="button" (click)="inc()" title="bigger">+</button>
    <span [style.font-size.px]="item">FontSize: {{item}}px</span>
  </div>