<app-autocomplete [item]="currentItem"></app-autocomplete>
<app-output (newItemEvent)="addItem($event)" ></app-output>

<ul>
  <li *ngFor="let item of items">{{ item }}</li>
</ul>

<!-- <app-input-output [item]="fontSizePx" (itemChange)="fontSizePx=$event"></app-input-output> -->

<app-input-output [(item)]="fontSizePx"></app-input-output>
<div [style.font-size.px]="fontSizePx">Resizable Text</div>